{% extends "base.html" %}
{% block title %}
Beneficiary Registration: Household
{% endblock title %}

{% block page_heading %}
    Persons
{% endblock page_heading %}
{% block content %}
<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Household</th>
        </tr>
        </thead>
        {% for person in persons %}
        <tbody>
        <tr>
            <td>{{ person.last_name }}</td>
            <td>{{ person.first_name }}</td>
            <td>{{ person.household }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
</div>

{% endblock content %}