{% extends "base.html" %}
{% block title %}
Beneficiary Registration: Household
{% endblock title %}

{% block page_heading %}
    Households
{% endblock page_heading %}

{% block content %}
<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Household</th>
            <th scope="col">Location</th>
            <th scope="col">Creation Date</th>
        </tr>
        </thead>
        {% for household in households %}
        <tbody>
        <tr>
            <td>{{ household.name }}</td>
            <td>{{ household.location }}</td>
            <td>{{ household.creation_date }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock content %}