{% extends "base.html" %}
{% block title %}
Beneficiary Registration: Locations
{% endblock title %}

{% block page_heading %}
    Locations
{% endblock page_heading %}

{% block content %}
<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        {% for location in locations %}
        <tbody>
        <tr>
            <td>{{ location.name }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock content %}